*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}
html{
  overflow-y: scroll;
  background: #F9FAFB;
}
 
.App{
  width: 90%;
  height: 100vh;
}
body{
  width: 100%;
}