*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
html{
  overflow-y: scroll;
  background: rgba(14, 0, 33, 1);
}
 
.App{
  width: 90%;
  height: 100vh;
}
body{
  width: 100%;
}