.DashboardHeader{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  height: 14%;
}
.userContainer{
  width: 45%;
  border-radius: 25px;
  box-shadow:0 0 5px #8b8b8b;
  padding: 10px;
}
.noteContainer{
  width: 55%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow:0 0 5px #8b8b8b;
  padding: 10px;
  margin-right: -8%;
  background-color: rgba(22, 154, 0, 1);
}
.firstLine{
  height: 30%;
  width: 100%;
}
.imageFirstLine{
    height:100%;
    margin-left: 5px;
}
.classTitle{
  font-size: 25px;
  color: rgba(132, 68, 236, 1);
  font-weight: 800;
}
.linears{
  color: rgba(153, 162, 173, 1);
}
.noteDescription{
    font-size: 14px;
    color: white;
}
.noteTitle{
  font-size: 18px;
  color: white;
}