.navLink{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Golos Text', sans-serif;
    color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
}
.navLink_black{
    font-size: 30px;
    text-decoration: none;
    font-family: 'Golos Text', sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}
/* .navLink:hover{
  color: black;
  cursor: pointer;
} */

.active{
    color: blueviolet;
    background-image: url("/public/images/Footer/active/dnevnikActive.png");
    background-repeat:no-repeat;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  position: fixed;
  background-color: #F9FAFB;
  box-shadow:0 0 3px #909090; box-shadow:0 0 5px #a2a2a2; box-shadow:0 0 10px #cecece;
  clear:both;
  height: 5%;
  border: 0.5px solid #0000001F
}