.UserPage{
    font-family: 'Golos Text', sans-serif;

}



.UserContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SchollContainer{
    display: flex;
    align-items: center;
}

