ul{
  list-style: none;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.headerNavbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(14, 0, 33, 1);
}
.headerNavbar_black{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
}
.logoDipple{
  height: 40%;
}
.dayOfTheWeek{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Golos Text', sans-serif;
  font-weight: 700;
}
.dayOfTheWeek_black{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Golos Text', sans-serif;
  font-weight: 700;
}
.right_navbar{
  height: 45px;
  margin-left: 20px;
}
.counter{
  background-color: red;
  color: white; 
  position: absolute; 
  right: -5px; 
  width: 45%;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}